* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* setting the default settings for the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: whitesmoke;
  background: #1f2937;
}

img {
  max-width: 100%;
}

h1,
p {
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

/* this targets all the container in my HTML code */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

/* styling the nav or header of the page */
.header {
  background: white;
  color: black;
  height: 80px;
}

.logo {
  max-width: 300px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.header a {
  color: #48487f;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

/* saw this in YouTube and decided to incorporate to make it more responsive */
.header a:hover {
  color: #9191cb;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header ul {
  display: flex;
}

.header ul li {
  margin-left: 20px;
}

/* Styling the hero image and items */

.hero {
  min-height: 400px;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  margin: 20px 0;
  margin-right: 30px;
}

strong {
  color: #9dcced;
}

/* Specifying the max width of the image */
.hero img {
  max-width: 400px;
  margin: 40px 0;
}

/* Follow YouTube tutorial how to style button and applied on this one */
.cta {
  margin-top: 20px;
  padding: 15px 30px;
  background: #3882f6;
  color: #fff;
  outline: none;
  border: none;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50px;
}

/* Styling the boxes section */

.boxes {
  min-height: 400px;
  background: white;
  color: #1f2937;
}

.boxes .top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  text-transform: uppercase;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container .box {
  width: 200px;
  height: 200px;
  background: #1f2937;
  margin: 10px;
  padding: 10px;
  border-radius: 14px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.item .para p {
  font-size: 16px;
  font-weight: 700;
}

/* Styling 3rd layer of the page */

.location {
  min-height: 300px;
  background: #e6ebf4;
}

.map img {
  min-width: 600px;
  margin: 40px 0;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.location .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling layer 4 booking */

.signup {
  min-height: 140px;
  background: #e6ebf4;
}

.container .booking-box {
  min-width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  background-color: #3882f6;
  padding: 15px 0;
  border-radius: 10px;
}

.booking-box .left {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 20px;
}

.booking-box .call {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  margin-right: 20px;
}

/* styling the footer where the address and contact number is located */
/* TODO will need to style links for the buttons and navbar up the top to their respected location */

.footer {
  min-height: 300px;
  min-width: 800px;
  background: #e6ebf4;
  color: #1f2937;
}

.footer .container {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  gap: 10px;
  border-top: 1px solid black;
}

.container p {
  margin-bottom: 1px;
}

.container .container-left {
  display: flex;
}

.container .far-left {
  align-self: flex-end;
}

/* copyright section */

.copyright {
  height: 40px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

/* Making the page responsive - googled and saw youtube video and followed the process to make my website the same */

@media (max-width: 831px) {
  .hero .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .footer .container {
    display: block;
    padding-left: 50px;
  }

  .container .left p, h1 {
    text-align: center;
  }

  .cta {
    margin-top: 20px;
  }
  
  .boxes .top h1 {
    text-align: center;
  }
